[Unit]
Description=Wiki Monkey's database server (%i preset)

[Service]
ExecStart=/usr/bin/wiki-monkey --preset %i

[Install]
WantedBy=default.target
